<div class="row">
  <div class="col-md-6">
    <h3>Vet Contact Info</h3>
    <form class="vet-contact-form">
      <div class="form-group">
        <label for="vet-name">name:</label>
        <input class="form-input" type="text" id="vet-name" />
      </div>
      <div class="form-group">
      <label for="vet-address">address:</label>
      <textarea class="form-input" type="text" id="vet-address" name="vet-address" placeholder="address"></textarea>
    <div class="form-group">
    <label for="vet-phone">phone:</label>
    <input class="form-input" type="number" id="vet-phone" name="vet-phone" />
   </div>
    <div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="submit" class="btn btn-primary">Edit</button>
    </form>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <h3>Emergency Contact Info</h3>
    <form class="ice-contact-form">
      <div class="form-group">
        <label for="ice-name">name:</label>
        <input class="form-input" type="text" id="ice-name" placeholder="contact name"/>
      </div>
      <div class="form-group">
        <label for="ice-relationship">relationship:</label>
        <input class="form-input" type="number" id="ice-relationship" name="ice-relationship" placeholder="relationship"/>
      </div>
      <div class="form-group">
        <label for="ice-phone">phone:</label>
        <input class="form-input" type="number" id="ice-phone" name="ice-phone" placeholder="phone" />
      </div>
      <div class="form-group">
        <label for="ice-address">address:</label>
        <textarea class="form-input" type="text" id="ice-address" name="ice-address"></textarea>
      </div>
      <div class="form-group">
        <label for="instructions">special instructions:</label>
        <textarea class="form-input" id="instructions" name="instructions"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="submit" class="btn btn-primary">Edit</button>
      </div>
    </form>
  </div>
</div>