<div class="container dashboard-page">

  <header class="container header">
    <div class="col-12">
      <nav class="d-flex justify-content-between">
        <a href="dashboard.html"><img src="./img/PetTrax_Logo-Nav.svg" alt="PetTrax logo" width="200px"></a>
        <a href="menu.html">Menu</a>
      </nav>
    </div>
  </header>

  <!-- Main horizontal wrapper -->
  <div class="container">
    <!-- Pet cards wrapper -->
    <div class="row d-flex justify-content-around">
      {{#each pets as |pet|}}
      <div class="pet-card col-5 col-md-3 text-center">
        <img class="pet-pic" src="{{ pet.photo }}" alt="Photo of Ditto">
        <div class="pet-title">
          <p class="pet-name">{{ pet.name }}</p>
          <p class="pet-warning">No Warnings</p>
        </div>
      </div>
      {{/each}}
      {{!-- <div class="pet-card col-5 col-md-3 text-center">
        <img class="pet-pic" src="{{ pet.photo }}" alt="Photo of Dublin">
        <div class="pet-title">
          <p class="pet-name">Dublin</p>
          <p class="pet-warning">No Warnings</p>
        </div>
      </div>
      <div class="pet-card col-5 col-md-3 text-center">
        <img class="pet-pic" src="./img/pet-photos/Dagger_300x300.jpg" alt="Photo of Dagger">
        <div class="pet-title">
          <p class="pet-name">Dagger</p>
          <p class="pet-warning">No Warnings</p>
        </div>
      </div>
      <div class="pet-card col-5 col-md-3 text-center">
        <img class="pet-pic" src="./img/pet-photos/Dita_300x300.jpg" alt="Photo of Dita">
        <div class="pet-title">
          <p class="pet-name">Dita</p>
          <p class="pet-warning">No Warnings</p>
        </div>
      </div> --}}

      <!-- Event Icon Row: Poo, Pee, Food -->
      <div class="row d-flex justify-content-around my-3 py-3 border-top border-2 border-dark">
        <div class="col-3 text-center">
          <img src="./img/icons/Pee-icon.svg" alt="Pee Icon" class="event-icon">
          <p class="event-name">Pee</p>
        </div>
        <div class="col-3 text-center">
          <img src="./img/icons/Poo-icon.svg" alt="Poo Icon" class="event-icon">
          <p class="event-name">Poo</p>
        </div>
        <div class="col-3 text-center">
          <img src="./img/icons/Food-icon.svg" alt="Food Icon" class="event-icon">
          <p class="event-name">Food</p>
        </div>
      </div>

    </div>
    <form action="./js/dashboard.js" method="POST">
      <input type="time" id="time" name="time" placeholder="Enter Custom Time" autocomplete="on"><br>
      <button type="submit">TRACK</button>
    </form>
  </div>



  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <!-- CUSTOM SCRIPTS -->
  <script src="./js/login.js"></script>

</div>

</html>