<div class="container dashboard-page">

  <header class="container header">
    <div class="col-12">
      <nav class="d-flex justify-content-between">
        <a href="dashboard.html"><img src="./img/PetTrax_Logo-Nav.svg" alt="PetTrax logo" width="200px"></a>
        <a id="menu" href="#">Menu</a>
      </nav>
    </div>
  </header>

  <!-- Main horizontal wrapper -->
  <div class="container">
    <!-- Pet cards wrapper -->
    <div class="row d-flex justify-content-around">
      {{#each pets as |pet|}}
        <div class="pet-card col-5 col-md-3 text-center">
          <input type="hidden" id="pet-id" value="{{ pet.id }}">
          <img class="pet-pic" src="{{ pet.photo }}" alt="Photo of {{ pet.name }}">
          <div class="pet-title">
            <p class="pet-name">{{ pet.name }}</p>
            <p class="pet-warning">No Warnings</p>
          </div>
        </div>
      {{/each}}

      <!-- Event Icon Row: Poo, Pee, Food -->
      <div class="row d-flex justify-content-around my-3 py-3 border-top border-2 border-dark">
        <div class="col-3 text-center">
          <img src="./img/icons/Pee-icon.svg" alt="Pee Icon" class="event-icon">
          <p class="event-name">Pee</p>
        </div>
        <div class="col-3 text-center">
          <img src="./img/icons/Poo-icon.svg" alt="Poo Icon" class="event-icon">
          <p class="event-name">Poop</p>
        </div>
        <div class="col-3 text-center">
          <img src="./img/icons/Food-icon.svg" alt="Food Icon" class="event-icon">
          <p class="event-name">Food</p>
        </div>
      </div>

    </div>
    <form>
      <input type="time" id="time" name="time" placeholder="Enter Custom Time" autocomplete="on"><br>
      <button id="submit" type="submit">TRACK</button>
    </form>
  </div>

  <!-- CUSTOM SCRIPTS -->
  <script src="./js/dashboard.js"></script>

</div>

</html>