<div class="row">
  <div class="col-md-6">
     <h1>Welcome to PetTrax</h1>
    <form class="login-form">       
      <h2>Please login</h2>
      <div class="form-group">
        <label for="email-signin">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-signin">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">sign in</button>
      </div>
    </form>
  </div>
  
  
  
<script src="./js/login.js"></script>
