<div class="container login-page vertical-center">
  <!-- Main vertical wrapper -->
  <div class="col">
    <!-- Main horizontal wrapper -->
    <div class="row justify-content-center">
      <!-- Login form wrapper -->
      <div class="col col-10 col-md-6">
         <form class="login-form" type="text" for="login" action="dashboard.handlebars" method="POST">
        <!-- <form action="./js/login.js" method="POST"> -->
          <img src="./img/PetTrax_Logo-login.svg" alt="PetTrax logo"><br><br>
          <input type="email" id="email" name="email" placeholder="email" required><br>
          <input type="current-password" id="password" name="current-password" placeholder="current-password" required><br><br>
          <button id="submit" type="submit">LOG IN</button>
          <br>
          <br>
        <button type="button" class="inversebutton" onclick="signupFormHandler()">new user? sign up</button>
        </form>
      </div>
    </div>
  </div>
  
  </div>

  <!-- CUSTOM SCRIPTS -->
  <script src="./js/login.js"></script>


