 {{!-- <title>PetTrax: caretaking made easy</title>
</head> --}}

<div class="container login-page vertical-center">
  <!-- Main vertical wrapper -->
  <div class="col">
    <!-- Main horizontal wrapper -->
    <div class="row justify-content-center">
      <!-- Login form wrapper -->
      <div class="col col-10 col-md-6">
        <form>
          <img src="./img/PetTrax_Logo-login.svg" alt="PetTrax logo"><br><br>
          <input type="email" id="email" name="email" placeholder="email address" required><br>
          <input type="password" id="password" name="password" placeholder="password" required><br><br>
          <button id="submit" type="submit">LOG IN</button>
        </form><br><br>
        <button type="button" class="inversebutton" onclick="return signupFormHandler()">new user? sign up</button>
      </div>
    </div>
  </div>

  <!-- CUSTOM SCRIPTS -->
  <script src="./js/login.js"></script>

</div>
