<div class="container menu-page">

  <header class="container header">
    <div class="col-12">
      <nav class="d-flex justify-content-between">
        <a id="dashboard" href="#"><img src="./img/PetTrax_Logo-Nav.svg" alt="PetTrax logo" width="200px"></a>
      </nav>
    </div>
  </header>

  <!-- Main horizontal wrapper -->
  <div class="row justify-content-center">
    <!-- Login form wrapper -->
    <div class="col col-10 col-md-6">
      <a id="dashboard" href="#" class="breadcrumb"><< Back to Dashboard</a>
      <h2>Menu</h2><br>
      <h3><a id="profile" href="#">Profile</a></h3>
      <h3><a id="pets" href="#">Pets</a></h3>
      <h3><a id="logs" href="#">Logs</a></h3>
    </div>
  </div>

  </div>

  {{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> --}}
  <!-- CUSTOM SCRIPTS -->
  <script src="./js/menu.js"></script>

