<body class="menu-page">

  <header class="header">
    <div class="col-12">
      <nav class="d-flex mx-2 justify-content-between align-items-center">
        <a id="dashboard" href="#"><img src="./img/PetTrax_Logo-Nav.svg" alt="PetTrax logo" width="200px"></a>
        <a id="menu" href="#">Menu</a>
      </nav>
    </div>
  </header>

  <!-- Main horizontal wrapper -->
  <div class="row justify-content-center">
    <div class="col col-10 col-md-6">
      <a id="dashboard" href="#" class="breadcrumb"><< Back to Dashboard</a>
      <h2>Profile</h2><br>
      <p id="user-name">Name: <br> {{ name }}</p>
      <p id="user-address">Address: <br> {{ address }}</p>
      <p id="user-phone">Phone: <br> {{ phone }}</p>
      <p id="user-email">Email: <br> {{ email }}</p>
      <br>
      <button type="submit" value="submit">EDIT</button>
    </div>
  </div>

<script src="./js/profile.js" type="module"></script>

