<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <h3>Create a PetTrax Profile</h3>
    <form class="pettrax-profile-form">
      <div class="form-group">
        <label for="pettrax-name">name:</label>
        <input class="form-input" type="text" id="pettrax-name" />
      </div>
      <label for="pettrax-address">address:</label>
      <input class="form-input" type="text" id="pettrax-address" name="pettrax-address" />
  </div>
  <div class="form-group">
    <label for="pettrax-phone">phone:</label>
    <input class="form-input" type="number" id="pettrax-phone" name="pettrax-phone" />
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Next</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Complete your PetTrax Profile </h3>
    <form class="pet-profile-form"></form>
    <div class="form-group">
      <label for="pet-name">pet name:</label>
      <input class="form-input" type="text" id="pettrax-name" />
    </div>
    <label for="pet-birthday">birthday:</label>
    <input class="form-input" type="text" id="pet-birthday" name="pet-birthday" />
  </div>
  <div class="form-group">
    <label for="pet-species">species:</label>
    <input class="form-input" type="number" id="pet-species" name="pet-species" />
  </div>
  <div class="form-group">
      <label for="pet-breed">breed:</label>
      <input class="form-input" type="number" id="pet-breed" name="pet-breed" />
    </div>
  <div class="form-group">
    <label for="pet-weight">weight:</label>
    <input class="form-input" type="number" id="pet-weight" name="pet-weight" />
  </div>
  <div class="form-group">
    <label for="species">color:</label>
    <input class="form-input" type="number" id="pet-color" name="pet-color" />
  </div>
  <div class="form-group">
    <label for="species">birthmark:</label>
    <input class="form-input" type="number" id="pet-birthmark" name="pet-birthmark" />
  </div>
  <div class="form-group">
    <p>more about your pet:</p>
    <label for="pet-info"></label>
    <textarea class="form-input" id="pet-info" name="pet-info"></textarea>
  </div>
  <div>
    <form action="/action_page.php">
      <p>upload a photo of your pet!</p>
      <input type="file" id="petFile" name="filename">
      <input type="submit">
    </form>
  </div>
  <br>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
  </form>
</div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <p>Your PetTrax Profile is complete. Do you want to add another Pet?
        <button type="submit" class="btn btn-primary">Yes</button>
        <button type="submit" class="btn btn-primary">No</button>
    </div>
  </div>
</div>



{{!--
{{#if pet-profile.length}}
<div class="col-md-6 project-list">
  <h3>Current Projects:</h3>

  {{#each projects as |project|}}
  <div class="row mb-2">
    <div class="col-md-8">
      <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
    </div>
    <div class="col-md-4">
      <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
</div>

<script src="./js/profile.js"></script> --