<div class="container menu-page">

  <header class="container header">
    <div class="col-12">
      <nav class="d-flex justify-content-between">
        <a id="dashboard" href="#"><img src="./img/PetTrax_Logo-Nav.svg" alt="PetTrax logo" width="200px"></a>

      </nav>
    </div>
  </header>

  <!-- Main horizontal wrapper -->
  <div class="row justify-content-center">
    <!-- Login form wrapper -->
    <div class="col col-10 col-md-6">
      <h2>Start Tracking</h2>
      <form class="signup-form" type="text">
        <!-- <form class='signup-form'type=text for=sign-up action="./js/login.js" method="POST"> This page should go where? Dashboard or Menu first?-->
        <input class="form-input" type="name" id="name" placeholder="name" />
        <input class="form-input" type="street" id="street" name="street" placeholder="street address" />
        <input class="form-input" type="city" id="city" name="city" placeholder="city" />
        <input class="form-input" type="state" id="state" name="state" placeholder="state" />
        <input class="form-input" type="number" id="zipcode" name="zipcode" placeholder="zipcode" />
        <input class="form-input" type="phone" id="phone" name="phone" placeholder="phone" />
        <input class="form-input" type="email" id="email" name="email" placeholder="email address" required><br>
        <input class="form-input" type="password" id="password" name="password" placeholder="password" required>
        <br><br>
        <button type="submit" id="submit" value="submit">SIGN UP</button>
      </form>
    </div>
  </div>

  </div>


<script src="./js/signup.js"></script>